{{#if barralateral.imgsmaspopulares}}
<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fas fa-fire"></i> Mas populares</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each barralateral.imgsmaspopulares}}
                <div class="col-md-4">
                    <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{nombreimg}}" class="w-100 h-100 image-thumbnail" alt="No hay foto">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}